{% if config.mss_clamp_enabled %}
table inet ipt_server_mss {
    chain mss_clamp {
        type filter hook forward priority mangle; policy accept;
        iifname "backbone" tcp flags syn tcp option maxseg size set {{ config.fixed_mss|int }}
        oifname "backbone" tcp flags syn tcp option maxseg size set {{ config.fixed_mss|int }}
    }
}
{% endif %}
